@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
body {
  background-color: hsl(212, 45%, 89%);
}
.box {
  width: 200px;
  margin: 70px auto;
  padding: 14px;
  border-radius: 16px;
  background-color: white;
  text-align: center;
}
img {
  width: inherit;
  border-radius: 16px;
}
h3 {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
}
p {
  font-family: "Outfit", sans-serif;
  font-weight: 400px;
  font-size: 13px;
  color: hsl(213, 4%, 43%);
}
.attribution {
  text-align: center;
  width: 300px;
  margin: 0 auto;
}
